{% extends "base.html" %}
{% block content %}
<h1>Osiris</h1>

<h2>About Me</h2>
<p>I am a second-year Computer Engineering student at the Polytechnic University of the Philippines.</p>

<h2>Student Information</h2>
<p><strong>Course:</strong> Bachelor of Science in Computer Engineering</p>
<p><strong>Year:</strong> 2nd Year</p>
<p><strong>Section:</strong> 2-6</p>
<p><strong>Subject:</strong> BSCPE</p>

<h2>Interests</h2>
<p>I enjoy learning about computers, programming, hardware, and technology. I also like working out, reading mangas and books.</p>

<h2>My Motto</h2>

<p>"If something burns your soul with purpose and desire, it's your duty to be reduced to ashes by it."</p> 
<footer>— Charles Bukowski</footer>



{% endblock %}